@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smart Wardrobe</h1>
    <p>Introducing the Smart Wardrobe.  A cure for the British “floordrobe”, potentially preventing 300,000 tonnes of landfill in the UK per year, changing the lives of poorly paid garment workers, preventing global environmental damage, and disrupting the fashion industry with a just-in-time point of sale in the comfort of your bedroom.</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Simply create an account, login and add your entire wardrobe by adding pictures of them.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more Garments</h2>
        <p>Get suggested garments to match your existing Wardrobe</p>
        <p><a class="btn btn-default" href="https://newlook.co.uk"</a></p>
    </div>
    <div class="col-md-4">
        <h2>Weather matching coming soon</h2>
        <p>You can easily find an outfit by matching it to the weather.</p>
        <p><a class="btn btn-default" href="https://metoffice.co.uk">Learn more &raquo;</a></p>
    </div>
</div>